<nb-card class="card" routerLink="/search">
  <nb-card-body class="card__body">
    <h2>Need to see a doctor?</h2>
    <p>Search for healthcare professional close to you using the find a provider tool</p>
  </nb-card-body>
</nb-card>
<nb-card class="card" routerLink="/upcoming-consultations">
  <nb-card-body class="card__body"><h2>Upcoming Consultations</h2> </nb-card-body>
</nb-card>
<nb-card class="card" routerLink="/health-records">
  <nb-card-body class="card__body"><h2>Health records</h2> </nb-card-body>
</nb-card>
